# 1. Split this string

In [1]:
s = "Hi there Sam!"
splitted_string=s.split()

# 2. Use .format() to print the following string.
Output should be: The diameter of Earth is 12742 kilometers.

In [2]:
planet = "Earth"
diameter = 12742

In [3]:
txt = "The diameter of {planet} is {diameter} kilometers".format(planet = "Earth", diameter =12742)
print(txt)

The diameter of Earth is 12742 kilometers

# 3. In this nest dictionary grab the word "hello"

In [4]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d["k1"][2]["tricky"][1]["target"][-1][0]

# Numpy

In [ ]:
import numpy as np

# 4.1 Create an array of 10 zeros?
4.2 Create an array of 10 fives?

In [ ]:
zeros_array = np.zeros(shape=(1, 10))
print(zeros_array)

In [ ]:
array=np.ones(10)*5
print(array)

# 5. Create an array of all the even integers from 20 to 35

In [ ]:
array=np.arange(20,35,2)
print(array)

# 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
arr = np.arange(0,9).reshape(3,3)
print(arr)

# 7. Concatenate a and b
a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
res = np.concatenate((a,b))
print(res)

# Pandas
8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(columns = ['A', 'B'], index = ['a', 'b', 'c'])
print(df)

# 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
per1 = pd.date_range(start ='1-1-2023', 
         end ='10-02-2023', freq ='5H')
for val in per1:
    print(val)

# 10. Create 2D list to DataFrame
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
df = pd.DataFrame(lists, index=["a","b","c"])
print(df)